################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Movie_Data_API/obj/Release/net9.0/Movie_Data_API.AssemblyInfo.cs
/Movie_Data_API/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Movie_Data_API/obj/Debug/net9.0/Movie_Data_API.GeneratedMSBuildEditorConfig.editorconfig
/Movie_Data_API/obj/Debug/net9.0/Movie_Data_API.GlobalUsings.g.cs
/Movie_Data_API/obj/Release/net9.0/Movie_Data_API.AssemblyInfoInputs.cache
/Movie_Data_API/obj/Release/net9.0/Movie_Data_API.assets.cache
/.vs/devops-exam-project-Sunisima/CopilotIndices/17.14.1530.14912/CodeChunks.db
/.vs/devops-exam-project-Sunisima/CopilotIndices/17.14.1530.14912/CodeChunks.db-shm
/.vs/devops-exam-project-Sunisima/CopilotIndices/17.14.1530.14912/CodeChunks.db-wal
/.vs/devops-exam-project-Sunisima/CopilotIndices/17.14.1530.14912/SemanticSymbols.db
/.vs/devops-exam-project-Sunisima/CopilotIndices/17.14.1530.14912/SemanticSymbols.db-shm
/.vs/devops-exam-project-Sunisima/CopilotIndices/17.14.1530.14912/SemanticSymbols.db-wal
/.vs/devops-exam-project-Sunisima/FileContentIndex/1f6bfaad-154d-423a-9bc4-6a52723384fd.vsidx
/.vs/devops-exam-project-Sunisima/FileContentIndex/54df057a-794d-4288-9c84-508c1c6bdacb.vsidx
/.vs/devops-exam-project-Sunisima/FileContentIndex/d03f7b79-7f14-4a7c-af4c-a4d586e35a13.vsidx
/.vs/devops-exam-project-Sunisima/FileContentIndex/69a5411d-4170-4ce0-bdca-36d38866036a.vsidx
/.vs/devops-exam-project-Sunisima/v17/.wsuo
/.vs/devops-exam-project-Sunisima/FileContentIndex/ebdfbf2e-6171-41f6-aeaa-d9a2ecb24795.vsidx
/.vs/devops-exam-project-Sunisima/v17/DocumentLayout.json
/.vs/devops-exam-project-Sunisima/FileContentIndex/07d25e68-5575-4760-ab63-b5602fbc130b.vsidx
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/devops-exam-project-Sunisima/FileContentIndex/0fc723c4-1919-4a20-aaff-44f97a0352b2.vsidx
/.vs/VSWorkspaceState.json
/.vs/devops-exam-project-Sunisima/FileContentIndex/b9383348-8baf-45c2-8816-59122b7cdbe4.vsidx
/Movie_Data_API/.vs/Movie_Data_API/CopilotIndices/17.14.1530.14912/CodeChunks.db
/Movie_Data_API/.vs/Movie_Data_API/DesignTimeBuild/.dtbcache.v2
/Movie_Data_API/.vs/Movie_Data_API/CopilotIndices/17.14.1530.14912/SemanticSymbols.db
/Movie_Data_API/.vs/Movie_Data_API/FileContentIndex/39fe79c7-7650-4951-b191-12da49b18b31.vsidx
/Movie_Data_API/.vs/Movie_Data_API/FileContentIndex/152b2c45-83a8-4e81-9bba-ee3cb00652d7.vsidx
/Movie_Data_API/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Movie_Data_API/obj/Debug/net9.0/Movie_Data_API.AssemblyInfoInputs.cache
/Movie_Data_API/obj/Debug/net9.0/Movie_Data_API.AssemblyInfo.cs
/Movie_Data_API/obj/Debug/net9.0/Movie_Data_API.csproj.AssemblyReference.cache
/Movie_Data_API/obj/Debug/net9.0/Movie_Data_API.assets.cache
/Movie_Data_API/obj/Release/net9.0/Movie_Data_API.GeneratedMSBuildEditorConfig.editorconfig
/Movie_Data_API/obj/Release/net9.0/Movie_Data_API.csproj.AssemblyReference.cache
/Movie_Data_API/obj/Release/net9.0/Movie_Data_API.GlobalUsings.g.cs
/.vs/devops-exam-project-Sunisima/FileContentIndex/
